## Mac OSX ##
.DS_Store

## NPM ##
node_modules

## Compiled files ##
compiled/

## API keys ##
client/config.js
client/dist/compiled/config.js
client/src/components/Reviews/ignore.jsx

## Jest Coverage Report ##
coverage/