## Mac OSX ##
.DS_Store

## NPM ##
node_modules

## Compiled files ##
compiled/

## API keys ##
server/config.js
client/config.js
client/dist/compiled/config.js

## Jest Coverage Report ##
coverage/

## AWS cert
project-catwalk.cer
##key
hide/Tamarillo.pem
